  <footer>
    <section class="container">
      <section class="footer-links">
        <a href="https://github.com/wikipockets">GitHub</a> •
        <a href="https://webpages.charlotte.edu/sjohn388">CLT Web</a> •
        <a href="https://wikipockets.github.io">GitHub.io</a> •
        <a href="https://webpages.charlotte.edu/sjohn388/itis3135">ITIS3135</a> •
        <a href="https://www.freecodecamp.org/wpockets">FreeCodeCamp</a> •
        <a href="https://www.codecademy.com/profiles/wikipockets">Codecademy</a>
        •
        <a href="https://www.linkedin.com/in/johnsgr1476/">LinkedIn</a>
      </section>
      <br>
      <em>~Constructing Additional Pylons!~</em>
      <br>
      <p>
        &copy; 2024 Haptic Live Solutions LLC. All Rights Reserved. •
        <a href="../johnsoncreatives.com/index.html"
          >Designed by Johnson Creatives</a
        > •
        <a
          href="https://www.freecodecamp.org/certification/wpockets/responsive-web-design"
          ><i>Certified in Responsive Web Design</i></a
        >
      </p>
    </section>
  </footer>
