
    <nav id="navbar" class="nav-bar">
    <a id ="home-button" class="nav-button" href="../index.html">Home</a>
    <a id ="introduction-button" class="nav-button" href="../introduction.html">Introduction</a>
    <a id="about-button" href="../about.html" class="nav-button">About</a>
    <a id="contract-button" href="../../contract.html" class="nav-button">Contract</a>
    <a id="BYO-Intro-button" href="../byo-intro.html" class="nav-button">BYO-Intro</a>    
    <a id="hobby-button" href="../hobby/index.html" class="nav-button">Hobby</a>
    <a id="website-evaluations" href="../website_evaluations.html" class="nav-button">Website Evaluations</a>
    <a id="html-tables" href="../tables.html" class="nav-button">Tables</a>
    <a id="html-tables" href="../forms.html" class="nav-button">Forms</a>
    <a id="first-scripts" href="../firstscripts.html" class="nav-button">First Scripts</a>
    <a id="drawing-button" href="../drawing.html" class="nav-button">Interactive Drawing</a>       
    </nav>
    <section class="container">
        <h1>Stephen Johnson</h1>
        <p class="tagline">Web Development 3135 Portfolio and Class Projects</p>
    </section>

