<header>
    <nav id="navbar" class="nav-bar">
    <a id ="home-button" class="nav-button" href="index.html">Home</a>
    <a id="about-button" href="about.html" class="nav-button">About</a>
    <a id="projects-button" href="projects.html" class="nav-button">Projects</a>
    <a id="contact-button" href="contact.html" class="nav-button">Contact</a>
    <a id="contract-button" href="contract.html" class="nav-button">Contract</a>       
    </nav>
    <section class="container">
        <h1>Stephen Johnson</h1>
        <p class="tagline">Web Development 3135 Portfolio and Class Projects</p>
    </section>
</header>
